<nav class="navbar navbar-expand-md ">

    <a class="nav-item nav-link" href="/criar-palpite">
        Criar palpite
    </a>

    <a class="nav-item nav-link" href="/meus-palpites">
        Meus palpites
    </a>

    <a *ngIf="isAdmin" class="nav-item nav-link" href="/adicionar-confroto">
        Adicionar confronto
    </a>
    
    <a class="nav-item" href="/admin" title="Admin">
        <div *ngIf="logged then logout else login"></div>
    </a>

</nav>

<ng-template #login>
    <app-admin></app-admin>
</ng-template>

<ng-template #logout>
    <mat-icon>{{'logout'}}</mat-icon>
</ng-template>