nav {
    background-color: rgb(255, 255, 255, 0.5);
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 4.5em;
}

a {
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
}