<nav class="nav nav-pills nav-justified">

    <a class="imgLo" href="">
        <img src="../../../../assets/img/icon/bolao.ico" alt="Bolão">
    </a>

    <div class="btnNewPost">
        <!-- <app-button-new-post title="Criar Post"></app-button-new-post> -->
    </div>

    <!-- <a  class="nav-item nav-link" href="/post/category/{{itens.description}}"> -->
    <a class="nav-item nav-link">
        <!-- <button class="btn btnLinks" (click)="getPostsByCategory(itens.id)">{{itens.description | titlecase}}</button> -->
        <button class="btn btnLinks">Palpitar</button>
    </a>

    <a class="nav-item nav-link">
        <button class="btn btnLinks">Seus palpites</button>
    </a>

    <!-- <div class="d-flex">

        <div *ngIf="logged then editProfile else login"></div>

    </div> -->

</nav>

<!-- <ng-template #login>
    <app-button-login></app-button-login>
</ng-template>

<ng-template #editProfile>
    <app-button-profile></app-button-profile>
</ng-template> -->