@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "../node_modules/font-awesome/css/font-awesome.css";  */



body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(0, 67, 255);
    /* background: linear-gradient(123deg, rgba(0, 67, 255, 1) 10%, rgba(232, 232, 89, 1) 43%, rgba(88, 239, 103, 1) 66%); */
    background: linear-gradient(123deg, rgba(0, 67, 255, 1), rgba(232, 232, 89, 1) 50%, rgba(88, 239, 103, 1));
    background-attachment: fixed;
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
